* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    background: linear-gradient(45deg, #333, #999, #80C754, #333);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 2rem 1rem;
    /* place-items: center; */
}

.img-container {
    font-size: 0;
    padding: .5rem;
    margin-inline: auto;
}

.img-container img {
    /* outline: 2px solid #000; */
    width: min(100%, 300px);
    aspect-ratio: 9/16;
    border: 2px solid goldenrod;
}

.img-container:nth-child(21) {
    display: none;
}

.img-container:nth-child(even) img {
    border: 2px solid #80C754;
    margin-top: 10%;
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .img-container:nth-child(even) img {
        margin-top: 20%;
    }

    .img-container:nth-child(21) {
        display: inherit;
    }
    
}