* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin-inline: auto;
}

.container h1 {
    text-align: center;
    color: #80C754;
    font-size: clamp(1.25rem, 0.7143rem + 3.4286vw, 3.5rem);
    padding: 1rem 0;
    white-space: nowrap;
}

.container h4 {
    text-align: center;
    padding: .5rem .75rem;
    font-size: clamp(0.6rem, 0.4571rem + 0.9143vw, 1.2rem);
}

.jobs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.job {
    width: 100%;
    padding: .5rem;
    position: relative;
}

.job img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: min(500px, 100%);
    border-radius: 10px;
}

.job h3 {
    position: absolute;
    inset: 0;
    font-size: clamp(1.75rem, 0.8929rem + 2.2857vw, 2.75rem);
    display: grid;
    place-items: center;
    color: white;
}

.form-container {
    /* background-color: red; */
    width: 100%;
}

.line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.input-block {
    padding: .5rem;
}

.input-block h3 {
    font-size: clamp(1rem, 0.5714rem + 1.1429vw, 1.5rem);
    padding: .25rem 0;
}

.input-block input{
    width: 100%;
    height: 35px;
    font-size: 1rem;
    padding: 0 .25rem;
    box-shadow: none;
    /* border: none; */
    border-radius: 0;
    border: 1px solid black;
}

.input-block input:focus {
    border: 1px solid #80C754;;
    outline: none;
}

.single-line {
    padding: .5rem;
}

.single-line h3 {
    font-size: clamp(1rem, 0.5714rem + 1.1429vw, 1.5rem);
    padding: .25rem 0;
}

.single-line input{
    width: 100%;
    height: 35px;
    font-size: 1rem;
    padding: 0 .25rem;
    box-shadow: none;
    /* border: none; */
    border-radius: 0;
    border: 1px solid black;
}

.single-line input:focus {
    border: 1px solid #80C754;
    outline: none;
}

.file {
    padding: .5rem;
}


.file h3 {
    font-size: clamp(1rem, 0.5714rem + 1.1429vw, 1.5rem);
    padding: .25rem 0;
    display: block;
}

.btn {
    width: 100%;
    padding: 1rem 0 1.5rem 0;
}

.btn button{
    background-color: #80C754;
    margin: 0 auto;
    display: block;
    outline: 1px solid #333;
    border:  none;
    font-size: clamp(1rem, 0.1429rem + 2.2857vw, 2rem);
    padding: .5rem 2rem;
    color: #333;
}

.btn button:hover {
    color: #80C754;
    background-color: #333;
    outline: 2px solid #80C754;
}

@media all and (max-width: 600px){
    .line {
        display: grid;
        grid-template-columns: 1fr;
    }
}